body {
    font-family: Arial, sans-serif;
    background-image: url('src/background.png');
    background-size: 100%;
 
}
header {
    background-color: #f12af1b9; 
    opacity: 75%;
    text-align: center;
    padding: 1px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1px;
    border: 1px solid #000000;
}
.dv{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    margin-left: 20px;       
}
.dv2{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 20px;
    margin-right: 20px;
}
.btt{
    background-color: #f12af1;
    color: black;
    margin-right: 20px;
    border: 2px solid #000000;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
    height: 40px;
}
.bttt{
    background-color: #f12af1;
    color: black;
    margin: 20px;
    border: 2px solid #000000;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
    height: 40px;
}

/*-----------------------------------------------------------*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid #000000;
}
.container.nav-hidden main {
    margin-left: 0;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0%;
    width: 250px;
    height: 100vh;
    overflow: hidden;
    transform: translateX(0);
    transition: width 0.3s;
}
.hidden {
    width: 0;
}

.expanded {
    margin-left: 0;
    width: 100%;
}

nav button:hover {
    transform: translateX(5px); /* Desplaza el botón 5px hacia la derecha */
}
.nav.nav-hidden {
    transform: translateX(-100%); /* Ocultar hacia la izquierda */
}
.nv{
    font-family: fantasy;
    font-size: larger;
    flex-grow: 1;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
    height: 2.9cm;
    margin: 0; 
    padding: 5%;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    background-size: 100%;
    opacity: 70%;
}
.nv1{
    background-image: url('src/units/numbersWallpaper.jfif');
    
    
}
.nv2{
    background-image: url('src/units/colorsWallpaper.jfif');
}
.nv3{
    background-image: url('src/units/vehiclesWallpaper.jfif');
}
.nv4{
    background-image: url('src/units/placesWallpaper.jpg');
}
.nv5{
    background-image: url('src/units/jobsWallpaper.jpg');
}
.mainn{
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    transition: margin-left 0.3s, width 0.3s; /* Transición suave */
    overflow: hidden; /* Ocultar contenido que se desborde */
}
.divid{
    margin-top: 50px;
    width: 80%;
    height: 100%;
    text-align: center;
    align-items: center;
    transition: opacity 0.3s ease; /* Transición suave para opacidad */
}

.container.nav-hidden .mainn {
    transform: translateX(0); /* Ajuste adicional cuando nav está oculto */
    opacity: 0; /* Ocultar contenido cuando nav está oculto */
}
.divVideo{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 400px;
}
.video-container{
    width: 600px;
    height: 337px;
    position: relative;
}
.video-container iframe{
    width: 100%;
    height: 100%;
}
/*-----------------------------------------------------------*/
.centrador{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f12af1b9;
    border: 1px solid;
    position: relative;
}

.enlaces{
    position: absolute;
    left: 4.5%;
    width: 120px;
    height: 30px;
    border-radius: 10%;
    cursor: pointer;
}

.examen{
    
    margin-left: auto;
    margin-right: 30%;
    width: 120px;
    height: 30px;
    border-radius: 10%;
    cursor: pointer;
}

.enlacesExternos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
}
.enlacesExternos img{
    width: 50px;
    height: 50px;
    padding: 0;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.enlacesExternos img:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */
}

.overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.contact-menu {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1001;
}

.contact-menu p {
    margin: 0 0 10px;
    color: #333;
}

.contact-menu button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #f12af1b9;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.contact-menu button:hover {
    background-color: #c920c9;
}

/*********/

.overlay2 {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.examenMenu {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1001;
}

.examenMenu p {
    margin: 0 0 10px;
    color: #333;
}

.examenMenu button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #f12af1b9;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.examenMenu button:hover {
    background-color: #c920c9;
}