body {
    font-family: Arial, sans-serif;
    color: #fa00fac4;
    background-image: url('src/background.png');
    background-size: 100%;
 
}
header {
    background-color: #f12af1b9; 
    opacity: 75%;
    text-align: center;
    color: rgb(217, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 1px;
    border: 1px solid #000000;
    border-radius: 5px;
}
.ttt{
    border-bottom: 1px solid black;
    width: 100%;
    align-items: center;
    height: 1.5cm;
}
.dv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.dv2{
    display: flex;
    float: right;
    justify-content: center;
}
.btt{
    background-color: #f12af1;
    color: black;
    margin-right: 20px;
    margin: 10px;
    border: 1px solid #000000;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
    height: 40px;
}
/*-----------------------------------------------------------*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid #000000;
    border-radius: 5px;
}
.container.nav-hidden main {
    margin-left: 0;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0%;
    width: 250px;
    height: 100vh;
    overflow: hidden;
    transform: translateX(0);
    transition: width 0.3s;
}
.hidden {
    width: 0;
}
.expanded {
    margin-left: 0;
    width: 100%;
}
.nav.nav-hidden {
    transform: translateX(-100%); /* Ocultar hacia la izquierda */
}
.nv{
    font-family: fantasy;
    font-size: larger;
    flex-grow: 1;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
    height: 2.9cm;
    margin: 0; 
    padding: 5%;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    background-size: 100%;
    opacity: 70%;
}
.nv1{
    background-image: url('src/units/numbersWallpaper.jfif');   
}
.nv2{
    background-image: url('src/units/colorsWallpaper.jfif');
}
.nv3{
    background-image: url('src/units/vehiclesWallpaper.jfif');
}
.nv4{
    background-image: url('src/units/placesWallpaper.jpg');
}
.nv5{
    background-image: url('src/units/jobsWallpaper.jpg');
}
.mainn{
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    transition: margin-left 0.3s, width 0.3s; /* Transici칩n suave */
    overflow: hidden; /* Ocultar contenido que se desborde */
}
.divid{
    position: relative;
    margin-top: 10px;
    width: 80%;
    height: 100%;
    text-align: center;
    align-items: center;
    transition: opacity 0.3s ease; /* Transici칩n suave para opacidad */
}
.container.nav-hidden .mainn {
    transform: translateX(0); /* Ajuste adicional cuando nav est치 oculto */
    opacity: 0; /* Ocultar contenido cuando nav est치 oculto */
}
.divVideo{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 170px;
}
.video-container{
    width: 300px;
    height: 168px;
    position: relative;
}
.video-container iframe{
    width: 100%;
    height: 100%;
}
/*-----------------------------------------------------------*/
.centrador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f12af1b9;
    border: 1px solid black;
    border-radius: 5px;
}
.enlaces{
    margin-left: 0;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.enlacesExternos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    border-radius: 5px;
}
.enlacesExternos div{
    display: flex;
    align-items: center;
}
.enlacesExternos img{
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 3px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.contact-menu {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1001;
}
.contact-menu p {
    margin: 0 0 10px;
    color: #333;
}
.contact-menu button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #f12af1b9;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out
}
.contact-menu button:hover {
    transform: scale(1.1);
    background-color: #c920c9;
}


/*********/
.examen{
    position: absolute;
    width: 80px;
    height: 30px;
    border-radius: 10%;
    cursor: pointer;
    bottom: 0;
    transform: translateX(-50%);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out
}
.examen:hover{
    transform: scale(1.1);
    background-color: #ffc1fff5;
}
.overlay2 {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.examenMenu button:hover {
    transform: scale(1.1);
    background-color: #c920c9;
}
.examenMenu {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1001;
}
.preguntas{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choices-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.choice {
    text-align: center;
}
.choice img {
    width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 10px;
}
.pie{
    display: flex;
    margin-top: 7px;
    align-items: flex-end;
    float: right;
}
.result{
    font-family: 'Courier New', Courier, monospace;
}
.examenMenu p {
    margin: 0 0 10px;
    color: #333;
}
.examenMenu button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #f12af1b9;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out
}
